ServiciosSOAP/ServicioBPEL/ProyectoBPELPedido.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://localhost/bpel/ProyectoBPELPedido"
                  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                  xmlns:stock="http://control.stock.org"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:prov="http://control.provider.org"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  targetNamespace="http://localhost/bpel/ProyectoBPELPedido">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
              elementFormDefault="qualified"
              targetNamespace="http://localhost/bpel/ProyectoBPELPedido">
         <element name="ProyectoBPELPedidoRequest">
            <complexType>
               <sequence>
                  <element name="productId" type="int"/>
                  <element name="providerId" type="int"/>
                  <element name="quantity" type="int"/>
               </sequence>
            </complexType>
         </element>
         <element name="ProyectoBPELPedidoResponse">
            <complexType>
               <sequence>
                  <element name="result" type="string"/>
               </sequence>
            </complexType>
         </element>
      </schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://control.provider.org"
                 xmlns:ns1="http://org.apache.axis2/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://control.provider.org">
         <xs:element name="checkProductPrice">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="productId" type="xs:int"/>
                  <xs:element name="providerId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="checkProductPriceResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="xs:double"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="makeRestockOrder">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="productId" type="xs:int"/>
                  <xs:element name="quantity" type="xs:int"/>
                  <xs:element name="providerId" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="makeRestockOrderResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
      <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://control.stock.org"
                 xmlns:ns1="http://org.apache.axis2/xsd"
                 attributeFormDefault="qualified"
                 elementFormDefault="qualified"
                 targetNamespace="http://control.stock.org">
         <xs:element name="verifyAvailability">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="productId" type="xs:int"/>
                  <xs:element name="quantity" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="verifyAvailabilityResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="increaseStock">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="productId" type="xs:int"/>
                  <xs:element name="quantity" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="increaseStockResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="decreaseStock">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="productId" type="xs:int"/>
                  <xs:element name="quantity" type="xs:int"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="decreaseStockResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="xs:boolean"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="ProyectoBPELPedidoRequestMessage">
      <wsdl:part name="payload" element="tns:ProyectoBPELPedidoRequest"/>
   </wsdl:message>
   <wsdl:message name="ProyectoBPELPedidoResponseMessage">
      <wsdl:part name="payload" element="tns:ProyectoBPELPedidoResponse"/>
   </wsdl:message>
   <wsdl:portType name="ProyectoBPELPedidoPortType">
      <wsdl:operation name="process">
         <wsdl:input message="tns:ProyectoBPELPedidoRequestMessage"
                     wsaw:Action="http://localhost/bpel/ProyectoBPELPedido/process"/>
         <wsdl:output message="tns:ProyectoBPELPedidoResponseMessage"
                      wsaw:Action="http://localhost/bpel/ProyectoBPELPedido/ProyectoBPELPedido/processResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ProyectoBPELPedidoBinding" type="tns:ProyectoBPELPedidoPortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
      <wsdl:operation name="process">
         <soap:operation soapAction="http://localhost/bpel/ProyectoBPELPedido/process" style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ProyectoBPELPedido">
      <wsdl:port name="ProyectoBPELPedidoPort" binding="tns:ProyectoBPELPedidoBinding">
         <soap:address location="http://localhost:8080/ode/processes/ProyectoBPELPedido.ProyectoBPELPedidoPort/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>