ServiciosSOAP/ServicioBPEL/BPELPedidoProcess/BPELPedidoProcess/bpelContent/ProviderServiceHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://control.provider.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://control.provider.org">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://control.provider.org">
            <xs:element name="checkProductPrice">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="providerId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="checkProductPriceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="makeRestockOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="quantity" type="xs:int"/>
                        <xs:element name="providerId" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="makeRestockOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="makeRestockOrderRequest">
        <wsdl:part name="parameters" element="ns:makeRestockOrder"/>
    </wsdl:message>
    <wsdl:message name="makeRestockOrderResponse">
        <wsdl:part name="parameters" element="ns:makeRestockOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="checkProductPriceRequest">
        <wsdl:part name="parameters" element="ns:checkProductPrice"/>
    </wsdl:message>
    <wsdl:message name="checkProductPriceResponse">
        <wsdl:part name="parameters" element="ns:checkProductPriceResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProviderServiceHandlerPortType">
        <wsdl:operation name="makeRestockOrder">
            <wsdl:input message="ns:makeRestockOrderRequest" wsaw:Action="urn:makeRestockOrder"/>
            <wsdl:output message="ns:makeRestockOrderResponse" wsaw:Action="urn:makeRestockOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkProductPrice">
            <wsdl:input message="ns:checkProductPriceRequest" wsaw:Action="urn:checkProductPrice"/>
            <wsdl:output message="ns:checkProductPriceResponse" wsaw:Action="urn:checkProductPriceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProviderServiceHandlerSoap11Binding" type="ns:ProviderServiceHandlerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="makeRestockOrder">
            <soap:operation soapAction="urn:makeRestockOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkProductPrice">
            <soap:operation soapAction="urn:checkProductPrice" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProviderServiceHandlerSoap12Binding" type="ns:ProviderServiceHandlerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="makeRestockOrder">
            <soap12:operation soapAction="urn:makeRestockOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkProductPrice">
            <soap12:operation soapAction="urn:checkProductPrice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ProviderServiceHandlerHttpBinding" type="ns:ProviderServiceHandlerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="makeRestockOrder">
            <http:operation location="makeRestockOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkProductPrice">
            <http:operation location="checkProductPrice"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ProviderServiceHandler">
        <wsdl:port name="ProviderServiceHandlerHttpSoap11Endpoint" binding="ns:ProviderServiceHandlerSoap11Binding">
            <soap:address location="http://localhost:9080/ProviderManagement/services/ProviderServiceHandler.ProviderServiceHandlerHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProviderServiceHandlerHttpSoap12Endpoint" binding="ns:ProviderServiceHandlerSoap12Binding">
            <soap12:address location="http://localhost:9080/ProviderManagement/services/ProviderServiceHandler.ProviderServiceHandlerHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ProviderServiceHandlerHttpEndpoint" binding="ns:ProviderServiceHandlerHttpBinding">
            <http:address location="http://localhost:9080/ProviderManagement/services/ProviderServiceHandler.ProviderServiceHandlerHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
