ServiciosSOAP/ServicioBPEL/BPELPedidoProcess/BPELPedidoProcess/bpelContent/StockServiceHandler.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://control.stock.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://control.stock.org">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://control.stock.org">
            <xs:element name="verifyAvailability">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="quantity" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="verifyAvailabilityResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="increaseStock">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="quantity" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="increaseStockResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="decreaseStock">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productId" type="xs:int"/>
                        <xs:element name="quantity" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="decreaseStockResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="decreaseStockRequest">
        <wsdl:part name="parameters" element="ns:decreaseStock"/>
    </wsdl:message>
    <wsdl:message name="decreaseStockResponse">
        <wsdl:part name="parameters" element="ns:decreaseStockResponse"/>
    </wsdl:message>
    <wsdl:message name="verifyAvailabilityRequest">
        <wsdl:part name="parameters" element="ns:verifyAvailability"/>
    </wsdl:message>
    <wsdl:message name="verifyAvailabilityResponse">
        <wsdl:part name="parameters" element="ns:verifyAvailabilityResponse"/>
    </wsdl:message>
    <wsdl:message name="increaseStockRequest">
        <wsdl:part name="parameters" element="ns:increaseStock"/>
    </wsdl:message>
    <wsdl:message name="increaseStockResponse">
        <wsdl:part name="parameters" element="ns:increaseStockResponse"/>
    </wsdl:message>
    <wsdl:portType name="StockServiceHandlerPortType">
        <wsdl:operation name="decreaseStock">
            <wsdl:input message="ns:decreaseStockRequest" wsaw:Action="urn:decreaseStock"/>
            <wsdl:output message="ns:decreaseStockResponse" wsaw:Action="urn:decreaseStockResponse"/>
        </wsdl:operation>
        <wsdl:operation name="verifyAvailability">
            <wsdl:input message="ns:verifyAvailabilityRequest" wsaw:Action="urn:verifyAvailability"/>
            <wsdl:output message="ns:verifyAvailabilityResponse" wsaw:Action="urn:verifyAvailabilityResponse"/>
        </wsdl:operation>
        <wsdl:operation name="increaseStock">
            <wsdl:input message="ns:increaseStockRequest" wsaw:Action="urn:increaseStock"/>
            <wsdl:output message="ns:increaseStockResponse" wsaw:Action="urn:increaseStockResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StockServiceHandlerSoap11Binding" type="ns:StockServiceHandlerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="decreaseStock">
            <soap:operation soapAction="urn:decreaseStock" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyAvailability">
            <soap:operation soapAction="urn:verifyAvailability" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="increaseStock">
            <soap:operation soapAction="urn:increaseStock" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StockServiceHandlerSoap12Binding" type="ns:StockServiceHandlerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="decreaseStock">
            <soap12:operation soapAction="urn:decreaseStock" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyAvailability">
            <soap12:operation soapAction="urn:verifyAvailability" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="increaseStock">
            <soap12:operation soapAction="urn:increaseStock" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StockServiceHandlerHttpBinding" type="ns:StockServiceHandlerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="decreaseStock">
            <http:operation location="decreaseStock"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyAvailability">
            <http:operation location="verifyAvailability"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="increaseStock">
            <http:operation location="increaseStock"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StockServiceHandler">
        <wsdl:port name="StockServiceHandlerHttpSoap11Endpoint" binding="ns:StockServiceHandlerSoap11Binding">
            <soap:address location="http://localhost:9080/StockServices/services/StockServiceHandler.StockServiceHandlerHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StockServiceHandlerHttpSoap12Endpoint" binding="ns:StockServiceHandlerSoap12Binding">
            <soap12:address location="http://localhost:9080/StockServices/services/StockServiceHandler.StockServiceHandlerHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="StockServiceHandlerHttpEndpoint" binding="ns:StockServiceHandlerHttpBinding">
            <http:address location="http://localhost:9080/StockServices/services/StockServiceHandler.StockServiceHandlerHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
